<h1>
	<br/>
	Periféricos
	<%= link_novo new_usuario_residencia_comodo_periferico_path(
	          @periferico.comodo.residencia.usuario,
						@periferico.comodo.residencia,
						@periferico.comodo) %>
</h1>

<div id="form_periferico" class="hide" >
  <%= render :partial => '/perifericos/form' %>
</div>

<table width="100%" class="lista <%= 'hide' if perifericos.blank? %>">
	<thead>
  	<tr>
	    <th>Nome</th>
	    <th>Pino</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody id="listagem_periferico">
  	<%= render :partial => '/perifericos/periferico', :collection => perifericos %>
	</tbody>
</table>

