<h1>
	<br/>
	Periféricos
	<%= link_novo new_usuario_residencia_comodo_periferico_path(
	          @periferico.comodo.residencia.usuario,
						@periferico.comodo.residencia,
						@periferico.comodo) %>
</h1>

<div id="form_periferico" class="hide" >
  <%= render :partial => '/perifericos/form' %>
</div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" class="tabela_listagem <%= 'hide' if perifericos.blank? %>">

	<thead>
	 	<tr>
	    <th class="table-header-repeat line-left"><a href="">Nome</a></th>
	    <th class="table-header-repeat line-left"><a href="">Pino</a></th>
	    <th class="table-header-repeat line-left"></th>
	  </tr>
	</thead>

	<tbody id="listagem_periferico">
  	<%= render :partial => '/perifericos/periferico', :collection => perifericos %>
	</tbody>
</table>

