<h1>Editing periferico</h1>

<%= render 'form' %>

<%= link_editar edit_usuario_residencia_comodo_periferico_path(
				@periferico.comodo.residencia.usuario, 
				@periferico.comodo.residencia, 
				@periferico.comodo, 
				@periferico) %>
				
<%= link_voltar usuario_residencia_comodo_path(
				@periferico.comodo.residencia.usuario, 
				@periferico.comodo.residencia, 
				@periferico.comodo) %>