<h1>New periferico</h1>

<%= render 'form' %>

<%= link_voltar usuario_residencia_comodo_path(
				@periferico.comodo.residencia.usuario, 
				@periferico.comodo.residencia, 
				@periferico.comodo) %>
