<h2> Cadastro </h2>

<div class="menu_cadastro_geral">
  <span class="menu_cadastro_usuario">Usuário</span> >>
  <span class="menu_cadastro_residencias">Residências</span> >>
  <span class="menu_cadastro_comodos">Cômodos</span> >>
  <span class="menu_cadastro_perifericos">Periféricos</span>
</div>

<div class="cadastro_geral">
  <%= render :partial => "form_usuario" %>
</div>

