/* icones http://www.veryicon.com/icons/system/soft-scraps/ */

body {
	font-family: helvetica;
	font-size: 14px;
	background: url(/images/fundo.png) repeat-x;
}

pre {
    background-color: #FFFFFF;
}

.topo {
    background: url(/images/telhado.png) no-repeat;
    margin-left: 100px;
    height: 212px;
}

.corpo {
    background: url(/images/corpo.png) repeat-y;
    margin-top: -1px;
    margin-left: 150px;
    height: 212px;
}

.titulo_texto{
    background-color: #FFFFFF;
    width: 30%;
    margin-left: 40px;
    padding: 2px;
    margin-bottom: 3px;
    font-weight: bolder;
}

.texto {
    background-color: #FFFFFF;
    width: 30%;
    margin-left: 40px;
    padding: 2px;
}

.rodape {
    background: url(/images/grama.png) repeat-x;
    height: 100px;
    margin-top: -5px;
    width: 1296px;
}

table .lista {
	border-bottom: 1px solid #CCCCCC;
}

tbody tr:nth-child(even) td .lista{
	background: #DDE4ED	;
}

tbody tr:nth-child(odd) td .lista {
/*	background: #f5f5dc; */
}

thead tr th .lista{
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

.voltar {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.icone {
	margin-left: 10px;
}

#comodos_container {
	border: 2px solid;
}
.comodo { width: 100px; height: 70px; background: silver; }

