<div class="topo">
</div>

<div class="corpo">

  <div class="titulo_texto">
    Automação de Residência?
  </div>
  <div class="texto">
      Levantar para acender a luz?
      Andar por toda a casa para apagar todas as luzes?
      Desativar aquele interruptor que você deseja que não continue funcionando para segurança
      das crianças na sua casa?
      Temos a solução para estes problemas, com a automatização das lâmpadas e interruptores da sua residência
      você poderá cotrolar todos os componentes elétricos da sua casa com apenas alguns cliques,
      garantindo mais eficiência e controle na gerência de sua residência.
  </div>
</div>

<div class="rodape">
</div>

