<div id="loginbox">
  <div id="login-inner">
      <% if usuario_signed_in? %>
	      <%= redirect_to :usuarios %>
      <% else %>
	      <%= render :partial => '/usuarios/sessions/new' %>
      <% end %>
  </div>
</div>

