<div id="loginbox">
  <div id="login-inner">
      <%= render :partial => '/usuarios/sessions/new' %>
  </div>

  <div class="clear"></div>

	<%=  link_to 'Esqueceu sua senha?', '',
                  :class => 'forgot-pwd',
                  :title => 'Excluir' %>
</div>

