<div id="suporte">
	
</div>

<div id="loginbox">
  <div id="suporte">
    Por medidas de segurança a unica maneira de recuperar sua senha é através do nosso suporte 24 horas, aguardamos seu contato.

    <div id="contato">
			(61) 5555-5555 <br/>
			easylife.suporte@gmail.com
		</div>
  </div>

  <div id="suporte_icone">
  </div>

  <div class="clear"></div>
               
	<%=  link_to 'Voltar', '/',
                  :class => 'forgot-pwd',
                  :title => 'Voltar' %>
</div>

