<h1>
	Residências
	<span class="toolbar-button" id='adicionar_residencia' >
	  Adicionar
	</span>
</h1>

<div id="form_residencia" class="hide" >
  <%= render :partial => 'residencias/form' %>
</div>

<% unless residencias.blank? %>
	<table width="100%">
		<thead>
	  	<tr>
		    <th>Cidade</th>
		    <th>Uf</th>
		    <th>Endereco</th>
		    <th>Cep</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>

		<tbody>
	  	<%= render :partial => '/residencias/residencia', :collection => residencias %>
		</tbody>
	</table>

	<br />
<% end %>

