<h1>
	Residências
	<%= link_novo new_usuario_residencia_path(@residencia.usuario) %>	
</h1>


<div id="form_residencia" class="hide" >
</div>

<table width="100%" class="lista <%= 'hide' if residencias.blank? %>">
	<thead>
  	<tr>
	    <th>Cidade</th>
	    <th>Uf</th>
	    <th>Endereco</th>
	    <th>Cep</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody id="listagem_residencia">
  	<%= render :partial => '/residencias/residencia', :collection => residencias %>
	</tbody>
</table>

<br />