<td><%= link_to 'Edit', edit_usuario_residencia_path(@residencia.usuario, @residencia) %></td>

<%= link_voltar usuario_residencias_path %>

<%= render :partial => '/comodos/index', :locals => { :comodos => @residencia.comodos } %>
