<%= render :partial => 'outras_atividades' %>

<h3> <%= @residencia.endereco %></h3>

<% if @residencia.comodos %>
    <table border="1px" cellpadding="10" cellspacing="10" class="tabela_interativa" >
      <tr>
        <% @residencia.comodos.each do |comodo| %>
           <td>
            <%= comodo.nome %>
           </td>
        <% end %>
      </tr>
    </table>
<% else %>
  Não existem comodos cadastrado para esta residência.
<% end %>

