<tr>
  <td>
    <%= comodo.nome %>
  </td>
	<td class="options-width">
	  <%= link_visualizar usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %>
    <%= link_editar edit_usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %>
    <%= link_excluir usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %>
  </td>
</tr>

