<h1>
	<br/>
	Cômodos
	<span class="toolbar-button" id='adicionar_comodo'>
	  Adicionar
	</span>
</h1>

<div id="form_comodo" class="hide" >
  <%= render :partial => 'comodos/form' %>
</div>

<table width="100%" class="lista <%= 'hide' if comodos.blank? %>">
	<thead>
  	<tr>
	    <th>Nome</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody id="listagem_comodo">
  	<%= render :partial => '/comodos/comodo', :collection => comodos %>
	</tbody>
</table>

<br/>

