<h1>
	<br/>
	Cômodos
	<%= link_novo new_usuario_residencia_comodo_path(@comodo.residencia.usuario, @comodo.residencia) %>	
</h1>

<div id="form_comodo" class="hide" >
</div>

<table width="100%" class="lista <%= 'hide' if comodos.blank? %>">
	<thead>
  	<tr>
	    <th width="80%">Nome</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody id="listagem_comodo">
  	<%= render :partial => '/comodos/comodo', :collection => comodos %>
	</tbody>
</table>

<br/>

