<h1>Editing comodo</h1>

<%= render 'form' %>

<%= link_to 'Show', usuario_residencia_comodo_path(@comodo.residencia.usuario, @comodo.residencia, @comodo) %>
<%= link_voltar usuario_residencia_path(@comodo.residencia.usuario, @comodo.residencia) %>