<%= form_for(@preset) do |f| %>
  <% if @preset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preset.errors.count, "error") %> prohibited this preset from being saved:</h2>

      <ul>
      <% @preset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
