<% if @usuario.errors.any? %>
  $("#notice").hide();

  $("#error").append("<ul>");
  <% @usuario.errors.full_messages.each do |msg| %>
    $("#error").append("<li> <%= escape_javascript(msg) %> </li>");
  <% end %>
  $("#error").append("</ul>");

  $("#error").show();
<% else %>
  $("#error").hide();
  $("#notice").html("<%= escape_javascript(flash[:notice])%>");

  // Limpa o formulário
  $(":input:not(input[type=submit])").val("");
  $("#form_usuario").slideUp();

  $("#notice").show();

  $("#listagem_usuario").html("<%=escape_javascript( render :partial => 'usuario', :collection => @usuarios ) %>");
<% end %>

