<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/usuario" %>
<% end %>

<h1>
	Usuários
	<span class="toolbar-button" id='adicionar_usuario' >
	  Adicionar
	</span>
</h1>

<div id="form_usuario" class="hide" >
  <%= render :partial => 'form' %>
</div>

<table width="100%" class="lista">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="listagem_usuario">
    <%= render :partial => 'usuario', :collection => @usuarios %>
  </tbody>
</table>

<br />

