<div id="post_errors"></div>
<h1> Usuários </h1>

<table width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'usuario', :collection => @usuarios %>
  </tbody>
</table>

<br />

<%= link_to 'Novo Usuário', new_usuario_path, :remote => true, :id => :link_new_usuario %>

<div id="form_novo_usuario">
</div>

