<h1> Usuários </h1>

<table width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'usuario', :collection => @usuarios %>
  </tbody>
</table>

<br />

<%= link_to 'New Usuario', new_usuario_path %>
