<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/usuario" %>
<% end %>

<h3 class="title">
	 Usuários
   <%= link_novo new_usuario_path %>
</h3>

<div id="form_usuario" class="hide" >
</div>

<table class="lista">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="listagem_usuario">
    <%= render :partial => 'usuario', :collection => @usuarios %>
  </tbody>
</table>

<br />

