<%= content_for :javascripts do %>
	<%= javascript_include_tag "views/usuario" %>
<% end %>

<h1> Usuários </h1>

<table width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'usuario', :collection => @usuarios %>
  </tbody>
</table>

<br />

<%= link_to 'Novo Usuário', new_usuario_path, :id => 'novo_usuario' %>

<div id="conteudo_ajax">
</div>
