<div id="top-search">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" />
      </td>
    <td>
    <select  class="styledselect">
      <option value=""> Todos</option>
      <option value=""> Usuário</option>
      <option value=""> Residência</option>
    </select>
    </td>
    <td>
      <input type="image" src="/images/shared/top_search_btn.gif"  />
    </td>
    </tr>
  </table>
</div>
<div class="clear"></div>

