<div id="top-search">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><%= text_field_tag 'buscar', 'Buscar', :class => 'top-search-inp', :id => 'campo_busca_home' %></td>
    	<td>
				<select name="">
				</select>
			</td>
    	<td><%= image_tag "shared/top_search_btn.gif" %></td>
    </tr>
  </table>
</div>
<div class="clear"></div>

