<% if current_usuario.tipo == 'Administrador' %>
<div id="top-search">
  <%= form_tag('/home/buscar', :method => "get") do %>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><%= text_field_tag 'campo', 'Buscar', :class => 'top-search-inp', :id => 'campo_busca' %></td>
      	<td>
  				<select name="tipo" class="styledselect">
            <option value="usuario">Usuários</option>
            <option value="residencia">Residências</option>
  				</select>
  			</td>
      	<td><%= image_submit_tag('shared/top_search_btn.gif') %></td>
      </tr>
    </table>
    
  <% end %>
</div>
<div class="clear"></div>
<% end %>
