<div id="message-yellow">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="yellow-left">You have a new message. <a href="">Go to Inbox.</a></td>
	    <td class="yellow-right"><a class="close-yellow"><img src="images/table/icon_close_yellow.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

<div id="message-red">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="red-left">Error. <a href="">Please try again.</a></td>
	    <td class="red-right"><a class="close-red"><img src="images/table/icon_close_red.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

<div id="message-blue">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="blue-left">Welcome back. <a href="">View my account.</a> </td>
	    <td class="blue-right"><a class="close-blue"><img src="images/table/icon_close_blue.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

<div id="message-green">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="green-left">Product added sucessfully. <a href="">Add new one.</a></td>
	    <td class="green-right"><a class="close-green"><img src="images/table/icon_close_green.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

