 <div id="message-error" class="hide" id="alert" >
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="error-left"><%= notice %></td>
	    <td class="error-right"><a class="close-red"><img src="images/table/icon_close_red.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

<div id="message-notice" class="hide" id="notice">
  <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
	    <td class="notice-left"><%= alert %></td>
	    <td class="notice-right"><a class="close-green"><img src="images/table/icon_close_green.gif"   alt="" /></a></td>
    </tr>
  </table>
</div>

