<div class="nav-outer-repeat">
  <div class="nav-outer">
      <div id="nav-right">
        <div class="nav-divider">&nbsp;</div>
        <a href="/usuarios/sign_out" id="logout">
					<%= image_tag("shared/nav/nav_logout.gif", :size => "64") %>
        </a>
        <div class="clear">&nbsp;</div>
      </div><!-- end nav-right -->
      <% if current_usuario.role_administrador? %>
		    <!--  start nav -->
        <div class="nav">
          
        <div class="clear"></div>
      </div> <!-- end div nav -->
      <div class="clear"></div>
    <% end %>
  </div> <!--  end nav-outer -->
</div> <!--  end nav-outer-repeat -->

<div class="clear"></div>

