<html>

  <%= render :partial => '/layouts/head' %>

  <body id="login-bg">

    <div id="login-holder">
	    <div id="logo-login">
				<%= link_to image_tag("/images/shared/logo.png"), "usuarios#index" %>
	    </div>

	    <div class="clear"></div>

      <%= yield %>

    </div>

  </body>
</html>

